#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "wiki-go"
name = "Wiki-Go"
description.en = "Databaseless flat-file wiki platform"
description.fr = "Plate-forme wiki moderne sans base de données"

version = "1.6.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "GPL-3.0"
website = "https://wikigo.leomoon.com/"
code = "https://github.com/leomoon-studios/wiki-go"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en", "es", "fr", "it", "nl", "pl", "pt"]
    default = "fr"

    [install.admin]
    type = "user"

    #[install.password]
    #help.en = "Use the help field to add an information for the admin about this question."
    #help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    #type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    extract = false
    rename = "wiki-go"
    amd64.url = "https://github.com/leomoon-studios/wiki-go/releases/download/v1.6.0/wiki-go-linux-amd64"
    amd64.sha256 = "9411f8d8aa225d4a8d1d678ffa86d2552b1ce7584d8a7e8bbeb25873de2bb965"
    arm64.url = "https://github.com/leomoon-studios/wiki-go/releases/download/v1.6.0/wiki-go-linux-arm64"
    arm64.sha256 = "f7c5eda49f2226b526b1331789c2b43a372895e3bd28e9d7a406c36a69b681e5"
    armhf.url = "https://github.com/leomoon-studios/wiki-go/releases/download/v1.6.0/wiki-go-linux-armv7"
    armhf.sha256 = "2e2db08391d72c96b3b69b959f5af41ef5b058c0f839d3b63d99d868bacb8fbb"

    # autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
