#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "wiki-go"
name = "Wiki-Go"
description.en = "Databaseless flat-file wiki platform"
description.fr = "Plate-forme wiki moderne sans base de données"

version = "1.7.2~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "GPL-3.0"
website = "https://wikigo.leomoon.com/"
code = "https://github.com/leomoon-studios/wiki-go"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en", "es", "fr", "it", "nl", "pl", "pt"]
    default = "fr"

    [install.admin]
    type = "user"

    #[install.password]
    #help.en = "Use the help field to add an information for the admin about this question."
    #help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    #type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    extract = false
    rename = "wiki-go"
    amd64.url = "https://github.com/leomoon-studios/wiki-go/releases/download/v1.7.2/wiki-go-linux-amd64"
    amd64.sha256 = "dffbc1f02d28ee68029612e33ede30c270d0f33288c78f5e01a29f555962b38c"
    arm64.url = "https://github.com/leomoon-studios/wiki-go/releases/download/v1.7.2/wiki-go-linux-arm64"
    arm64.sha256 = "e896cf450a8ca4e64304dedb0ad8d466d97e6e234e9880eaf1f37ccba07a9598"
    armhf.url = "https://github.com/leomoon-studios/wiki-go/releases/download/v1.7.2/wiki-go-linux-armv7"
    armhf.sha256 = "7c07d5e6993384712b369881c8b345f9239a38e7c88289d64e94423a1c4a3e35"

    # autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
